.Wrapper {
  text-align: center;
  margin-top: 50px;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  margin-top: 50px;
  border-radius: 20px;
}
.login-form{
  width: 100%;
}
@media screen and (min-width: 100px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 20px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

.semiBold {
  font-weight: 600 !important;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: 1px solid #8f8c8a;
  border-radius: 10px;
}
.marginBot {
  margin-bottom: 50px;
}


.link-btn {
  background: none;
  color: #fd9309;
  text-decoration: underline;
  margin: 50px;
}
.spanError{
  color: red;
  display: none;
  max-width: 330px;
}

input:invalid[focused="true"] ~ .spanError{
  display: block;
}
